[submodule "third_party/epics-base"]
	path = third_party/epics-base
	url = git@github.com:derekste/epics-base.git
[submodule "third_party/pvxs"]
	path = third_party/pvxs
	url = git@github.com:derekste/pvxs.git
[submodule "third_party/redis-adapter"]
	path = third_party/redis-adapter
	url = git@github.com:fermi-ad/redis-adapter.git
[submodule "third_party/yaml-cpp"]
	path = third_party/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "third_party/recsync"]
	path = third_party/recsync
	url = https://github.com/ChannelFinder/recsync.git
